<% post_comments.each do |post_comment| %>
  <% unless post_comment.id.nil? %>
    <p><%= link_to "#{post_comment.member.name}さん", member_path(post_comment.member.id) %></p>
    <p>コメント：<%= post_comment.comment %></p>
    <% if post_comment.member == current_member %>
      <p><%= link_to 'コメントを削除する', post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>