

        <% @page_title = "About" %>

<div class="container">
  <div class="content-wrapper" style="padding:20px;">
    <p>Pop Funs ご利用いただきありがとうございます。</p>
    <br>
    <h3>どんなアプリ？</h3>
    <hr>
    <p>画像投稿型のSNSアプリです。特撮、アメコミに特化した投稿が集まればというコンセプトでデザインしました。</p>
    <br>
    <h3>コンセプト</h3>
    <hr>
    <p>ジャンルも飛び越え動きはじめたオモチャたち。その生き生きとした姿をみたら、きっとオモチャが好きになる。そんな写真をみなさんで撮ってみませんか？準備は簡単、必要なのはオモチャ、カメラ、以上！</p>
    <h3>実装した機能</h3>
    <hr>
    <ul　style="padding-left:2em;">
      <li>ユーザ新規登録・退会機能</li>
      <li>ユーザログイン・ログアウト機能</li>
      <li>ユーザ情報編集機能</li>
      <li>画像投稿・リサイズ</li>
      <li>画像投稿・表示はAjaxで実装</li>
      <li>フォロー機能</li>
      <li>いいね機能</li>
      <li>画像へのコメント機能</li>
      <li>通知機能(フォロー、いいね、コメントに反応)</li>
      <li>ハッシュタグ機能</li>
      <li>画像検索機能</li>
      <li>レスポンシブデザイン対応</li>
    </ul>
    </ul>
    <br>
    <hr>
    <p>ここまで読んでいただきありがとうございました。本アプリを使っていただけますと嬉しいです。よろしくお願いいたします。</p><br>
  </div>
</div>